# ansible/group_vars/all.yml

dashy_port:      4000
homepage_port:   3020
glances_port:    61208 # â† any comment
netdata_port:    19999
adguard_dns_port: 53
adguard_ui_port: 3010
uptime_kuma_port: 3001